.navbar_container {
  border-bottom: solid 1px #e8e8e8;
  background: white;
  padding: 0 4rem 0;
}

.navbar {
  justify-content: space-between;
  padding-block: 1rem;
}

.navbar,
.navbar__content,
.navbar__list,
.navbar__button {
  display: flex;
  align-items: center;
}

.navbar__content {
  flex: 1;
}

.navbar_head {
  font-size: 2rem;
  font-weight: bold;
}

.navbar__title {
  color: #0290ff;
}

.navbar__list {
  gap: 2rem;
  list-style-type: none;
  margin: auto;
}

.navbar__list a {
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  color: #74b5ff;
  padding: 0;
}

.center {
  max-width: 1024px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.logo {
  width: 5%;
  height: auto;
}
